.postContainer {
    position: relative;
    background-color: #adb5bd;
    border-radius: 2%;
    padding: 1%;
    height: 70vh;
}

.postTitle {
    display: inline-block;
    margin: 0 auto 0 auto;
    font-size: x-large;
    height: 3vh;
}

.postMedia {
    height: 20vh;
    margin: 0 auto 0 auto;
    object-fit: cover;
}

.description {
    height: 20vh;
    margin: 0 auto 0 auto;
}

.postButton {
    position: absolute;
    bottom: 1vh;
    display:grid;
    min-width: 93%;
}

img{
    align-self: center;
    width: 80%;
    max-height: 20vh;
}